<h1> Edit your Note </h1>

<!-- Uses the  @note instance method from edit  -->

<%= form for @note do |if| %>

  <%= label_tag(:text, "Your Note") %>
  <%= f.text_field :text, :class => "form-control" %></br>

  <%= label_tag(:done, "Finished?") %>
  <%f.check_box :done, {}, true, false,  %><br />

  <%= f.submit "Update", :class => "btn btn-warning" %>

  <% end %>