<!-- move style to stylesheet -->

<style>
  html, body, #map-canvas {
    height: 90%;
    margin: 20px;
    padding: 5px
  }
</style>

<%= button_to "A New Note", {controller: :notes, action: :new}, :method => :get, :class => "btn btn-success" %>
<br>

<ul>
  <% @notes.each do |note| %>
    <li><%= note.text%></li>

    <!-- link to show method controller -->
    <%= link_to note["text"], note_path(note[:id]) %>

    <!-- link to edit in controller -->
    <%= link_to "edit", edit_note_path(note[:id]) , :class => "btn btn-primary btn-xs" %>

    <!-- link to detroy method controller -->
    <%= link_to "delete", note, method: :delete, data: { confirm: "Definitely Delete?" } , :class => "btn btn-danger btn-xs" %>
    <br>
  <% end %>
</ul>

<!-- create input text box -->
<input type="text" id="mytextbox" value= "My first note" />

<button id="newnote" onclick="alertNoteInformation()">New Note</button>

<div id="map-canvas"></div>

<script>
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see a blank space instead of the map, this
// is probably because you have denied permission for location sharing.

var map;
var myLatlng = new google.maps.LatLng(gon.pin.latitude,gon.pin.longitude);

//creating lat long as usable variables available outside function
var latitude;
var longitude;


function initialize() {
  var mapOptions = {
    zoom: 13
  };
  
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
  });

  var contentString = '<p>'+ gon.pin.text + '</p>';
    ;

  var infowindow = new google.maps.InfoWindow({
      content: contentString
  });

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Uluru (Ayers Rock)'
  });
  
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  });

  // Try HTML5 geolocation
  //centers map on your position 
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);
      //taking lat long from map
      latitude = position.coords.latitude;
      // alert(latitude);

      longitude = position.coords.longitude;



      var infowindow = new google.maps.InfoWindow({
        map: map,
        position: pos,
        content: 'Location found using HTML5.'
      });

      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);


//taking note and lat long and saving into variable that can be displayed
function alertNoteInformation() {
  var text = $('#mytextbox').val();
  var info = text + latitude + longitude;
  alert(info);


}

</script>









