<!-- move style to stylesheet -->

<style>
  html, body, #map-canvas {
    height: 90%;
    margin: 20px;
    padding: 5px
  }
</style>

<h1>GeoNote!</h1> 
<h4>Write your note,<br> Drag the marker<br> Press create<br>Your GeoNote is created!</></h4>

<ul>
<!-- 
  list all the notes -->
  <% @notes.each do |note| %>
    <li><%= note.text%></li>

    <!-- link to show method controller -->
    <%= link_to note["text"], note_path(note[:id]) %>

    <!-- link to edit in controller -->
    <%= link_to "edit", edit_note_path(note[:id]) , :class => "btn btn-primary btn-xs" %>

    <!-- link to detroy method controller -->
    <%= link_to "delete", note, method: :delete, data: { confirm: "Definitely Delete?" } , :class => "btn btn-danger btn-xs" %>
    <br>
  <% end %>

</ul>

<!-- form to take in the note info and lat long -->
<%= form_for @note do |f| %>
  <!-- create input text box -->
  <div>
   <!--  takes in note and adds it to lat long -->
    <%= f.label :text %>
    <%= f.text_area :text %>
  
    <label for="latitude">Latitude:</label>
    <%= f.text_field :latitude  %>
    
    <label for="longitude">Longitude:</label>
    <%= f.text_field :longitude  %>
  </div>

  <%= f.submit %>
<% end %>

<!-- map area created -->
<div id="map-canvas"></div>



<script>
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see a blank space instead of the map, this
// is probably because you have denied permission for location sharing.

function initialize(map, geoData) {

// if geodata is denied you will get a random place in the workd to start. 
  if(geoData === undefined){
    var lat = Math.pow(-1,Math.floor(Math.random()*2))*Math.random()*90;
    var long = Math.pow(-1,Math.floor(Math.random()*2))*Math.random()*180;
    var myLatlng = new google.maps.LatLng(lat,long);
  } else {
    var myLatlng = new google.maps.LatLng(geoData.coords.latitude, geoData.coords.longitude);
  }

  //info put in here
  var contentString = '<div class="content"><p> CREATE YOUR NOTE!! </p></div>';
    // info window that shows up on map with marker
  var infowindow = new google.maps.InfoWindow({
      content: contentString
  });



// creates draggable marker and inital marker
  var marker = new google.maps.Marker({
      position: myLatlng,
      draggable: true,
      map: map,
      title: 'NOTE'
  });



  var lastInfoWindow;
  var addInfoWindowListener = function(marker, newInfoWindow){

    google.maps.event.addListener(marker, 'click', function() {
      if(!!lastInfoWindow){
      lastInfoWindow.close();
      }

      if(lastInfoWindow === newInfoWindow){
          lastInfoWindow = null;
      } else {
          newInfoWindow.open(map,this);
          lastInfoWindow = newInfoWindow;
      }

    });

  }


// iterates thorugh your notes to display everything on the map
  for (var i = 0; i < gon.notes.length; i++) {
    var note = gon.notes[i];
    var loc = new google.maps.LatLng(note.latitude, note.longitude)
    var newMarker = new google.maps.Marker({
      position: loc,
      map: map,
      title: "Your note"
    });

    var newInfoWindow = new google.maps.InfoWindow({
      content: note.text

      // "<h1> "+ note +"</h1>"

    });

    addInfoWindowListener(newMarker, newInfoWindow);
   // addNote(new_marker)



    // console.log(note);
   
    //placeMarker(event.latLng);
  
  }


// creates universal variable for the lat long that is taken in my Gmaps
  $("#note_latitude").val(myLatlng.k);
  $("#note_longitude").val(myLatlng.A);

// centers map on our marker
  map.setCenter(marker.position);
  marker.setMap(map);
    infowindow.open(map,marker);

    // listens for click to set marker location
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
    //placeMarker(event.latLng);
  });
//accessed here
  google.maps.event.addListener(marker, "dragend", function(event) { 
    console.log(event.latLng);
    // infowindow.open(map,marker);
    // Lat and Long data for a dragged item
    var latLng = event.latLng;
    var lat = latLng.k;
    var lng = latLng.A;

    $("#note_latitude").val(lat);
    $("#note_longitude").val(lng);
    map.setCenter(latLng);
  }); 


}


// loads the map
$(document).on("page:load ready", function(){
  try{
    console.log(gon)
  } catch (e) {
    window.location = window.location.reload(true);
  }
  console.log("LOADING");
  var mapOptions = {
    zoom: 13,
  };

  // the actual map created by google will use your positon if accepted otherwise it uses the randomized positon at the top
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  navigator.geolocation.getCurrentPosition(function(geoData){
    initialize(map,geoData);
  }, function(){
    initialize(map);
  })

});



</script>









