
<h1>GEONOTE!</h1> 
<h2>New Note</h2>
<!-- <p>Find me in app/views/notes/new.html.erb</p>
 -->
<%= form_for @note do |f| %>
  <%= f.label :text %>
  <%= f.text_field :text %>
  <%= f.submit %>

  <% end %>



<!-- 
sign up sign out form -->


<%= current_user %> 

<% if current_user != nil %>
  <%= button_to "Log out", destroy_user_session_path, method: :delete %>
  <% else %> 
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Log in", new_user_session_path %>
<% end %>